/* reset css */
/* fonte */
/* variaveis */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --main-color: #00b8ec;
  --black: #121212;
  --white: #f6f6f6;
  --s-sm: 0.5rem;
  --s-md: 1rem;
  --s-lg: 2rem;
  --s-xl: 4rem;
  --s-xl2: 8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  right: 20%;
}

h1 {
  font-size: var(--s-xl);
}

.container {
  display: flex;
  column-gap: var(--s-xl);
}

.container__time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__time {
  font-size: var(--s-xl2);
}

.container__legend {
  font-size: var(--s-lg);
  margin-top: -2rem;
}
